<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-commande-heading"
        data-cy="CommandeCreateUpdateHeading"
        jhiTranslate="pizzaMarioApplicationApp.commande.home.createOrEditLabel"
      >
        Créer ou éditer un Commande
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pizzaMarioApplicationApp.commande.estAEmporter" for="field_estAEmporter"
            >Est A Emporter</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="estAEmporter"
            id="field_estAEmporter"
            data-cy="estAEmporter"
            formControlName="estAEmporter"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pizzaMarioApplicationApp.commande.dateHeureCreation" for="field_dateHeureCreation"
            >Date Heure Creation</label
          >
          <div class="d-flex">
            <input
              id="field_dateHeureCreation"
              data-cy="dateHeureCreation"
              type="datetime-local"
              class="form-control"
              name="dateHeureCreation"
              formControlName="dateHeureCreation"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pizzaMarioApplicationApp.commande.dateHeureLivraison" for="field_dateHeureLivraison"
            >Date Heure Livraison</label
          >
          <div class="d-flex">
            <input
              id="field_dateHeureLivraison"
              data-cy="dateHeureLivraison"
              type="datetime-local"
              class="form-control"
              name="dateHeureLivraison"
              formControlName="dateHeureLivraison"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="pizzaMarioApplicationApp.commande.client" for="field_client">Client</label>
          <select
            class="form-control"
            id="field_client"
            data-cy="client"
            name="client"
            formControlName="client"
            [compareWith]="compareClient"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="clientOption" *ngFor="let clientOption of clientsSharedCollection">{{ clientOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
